{% extends "layout.twig" %}
{% block content %}
<div class="container">
    <div class="row">
        <h1>{{ application.name }}</h1>
        {% if user == true %}
        <h2>Bonjour {{ user_name.getLogin() }}</h2>
        {% endif %}
    </div>
    <div class="row">
		<h3> Les derniers messages </h3>
		
		{% if logged == true %}
			<table class="table">
				<tr>
					<th>message</th>
					<th>pseudo</th>
					<th>posted on</th>
				</tr>
				{% for message in allMessages %}
					<tr>
						<td>{{ message.getContent() }}</td>
						<td>@{{ message.getUserLogin() }}</td>
						<td>{{ message.getDate() }} </td>
					</tr>
				{% endfor %}
			</table>
    </div>
    <div class="row" id="home_users">
        <h3> Les utilisateurs </h3>
        {% for user in allUsers%}
            <div class="list-group">
                <div class="list-group-item">
                    <h3 class="list-group-item-heading">
                        {{ user.getLogin() }}
                        {% if user.getCollocation() == "more" %}
                            <span class="glyphicon glyphicon-user more" title="collocation existante : cherche un ou plusieurs colloc'"></span>
                            <span class="glyphicon glyphicon-user more second" title="collocation existante : cherche un ou plusieurs colloc'"></span>
                        {% elseif user.getCollocation() == "yes" %}
                            <span class="glyphicon glyphicon-user yes" title="seul, cherche une colloc'"></span>
                            <span class="glyphicon glyphicon-user yes second" title="seul, cherche une colloc'"></span>
                        {% elseif user.getCollocation() == "no" %}
                            <span class="glyphicon glyphicon-user no" title="ne cherche pas de colloc'"></span>
                            <span class="glyphicon glyphicon-user no second" title="ne cherche pas de colloc'"></span>
                        {% endif %}
                    </h3>
                    <p class="list-group-item-text">{{ user.getDescription() }}</p>
                    <div class="profil-details">
                        <h4 class="list-group-item-heading">Ville</h4>
                        <p>{{ user.getCity() }}</p>
                        <h4 class="list-group-item-heading">Centres d'intérêts</h4>
                        <div id="hobbies-container">
                            {% set hobbies = user.getHobbies()|split(',') %}
                            {% for value in hobbies %}
                                <span class="label label-info">{{ value }}</span>
                            {% endfor %}
                        </div>
                        <h4 class="list-group-item-heading">Entreprise</h4>
                        <p>{{ user.getCompany() }}</p>
                        {% if user.getVisibleMail() == true %}
                        <h4 class="list-group-item-heading">Contact</h4>
                        <p><a href="mailto:{{ user.getEmail() }}">{{ user.getEmail() }}</a></p>
                        {% endif %}
                    </div>
                    <a class="profil-details-link" href="#" title="voir le profil">Voir le profil</a>
                </div>
            </div>
        {% endfor %}
    </div>
		{% else %}
			<div class="alert alert-warning">
				<h4>Connectes-toi pour lire les derniers messages et consulter les profils !</h4>
			</div>
		{% endif %}
</div>
<script type="text/javascript">
    var detail = document.getElementsByClassName('profil-details'),
        button = document.getElementsByClassName('profil-details-link');

    for (var i = 0 ; i < button.length ; i++) {
        button[i].relatedDetails = detail[i];
        button[i].onclick = function() {

            if (this.relatedDetails.className === "profil-details displayed") {
                this.relatedDetails.className = "profil-details";
                this.innerHTML = "Voir le profil";
            } else {
                this.relatedDetails.className = "profil-details displayed";
                this.innerHTML = "Fermer";
            }
            return false;
        };
    }
</script>
{% endblock content %}