{% extends "layout.twig" %}
{% block content %}
<div class="container">
    <div class="row">
        <h1>{{ application.name }}</h1>
        {% if user == true %}
        <h2>Bonjour {{ user_name.getLogin() }}</h2>
        {% endif %}
    </div>
    <div class="row">
		<h3> Les derniers Tweets </h3>
		
		{% if logged == true %}
			<table class="table">
				<tr>
					<th>id</th>
					<th>message</th>
					<th>user</th>
					<th>posted on</th>
				</tr>
				{% for message in allMessages %}
					<tr>
						<td>{{ message.getId() }}</td>
						<td>{{ message.getContent() }}</td>
						<td>@{{ message.getUserLogin() }}</td>
						<td>{{ message.getDate() }} </td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<div class="alert alert-warning">
				<h4>Connectez-vous pour lire les derniers Tweets !</h4>
			</div>
		{% endif %}
    </div>
    <a href="api.html">API test</a>
</div>
{% endblock content %}