{% extends "layout.twig" %}
{% block content %}
<div class="container">
    <div class="row">
        <h1>{{ application.name }}</h1>
        {% if user == true %}
        <h2>Bonjour {{ user_name.getLogin() }}</h2>
        {% endif %}
    </div>
    <div class="row">
		<h3> Les derniers messages </h3>
		
		{% if logged == true %}
			<table class="table">
				<tr>
					<th>message</th>
					<th>user</th>
					<th>posted on</th>
				</tr>
				{% for message in allMessages %}
					<tr>
						<td>{{ message.getContent() }}</td>
						<td>@{{ message.getUserLogin() }}</td>
						<td>{{ message.getDate() }} </td>
					</tr>
				{% endfor %}
			</table>
    </div>
    <div class="row">
            <h3> Les utilisateurs </h3>
			<table class="table">
				<tr>
					<th>login</th>
					<th>description</th>
					<th>collocation</th>
				</tr>
				{% for user in allUsers%}
					<tr>
						<td>{{ user.getLogin() }}</td>
						<td>{{ user.getDescription() }}</td>
						<td>
                            {% if user.getCollocation() == "more" %}
                                <span class="glyphicon glyphicon-user more"></span>
                                <span class="glyphicon glyphicon-user more second"></span>
                            {% elseif user.getCollocation() == "yes" %}
                                <span class="glyphicon glyphicon-user yes"></span>
                                <span class="glyphicon glyphicon-user yes second"></span>
                            {% elseif user.getCollocation() == "no" %}
                                <span class="glyphicon glyphicon-user no"></span>
                                <span class="glyphicon glyphicon-user no second"></span>
                            {% endif %}
                        </td>
					</tr>
				{% endfor %}
			</table>
    </div>
		{% else %}
			<div class="alert alert-warning">
				<h4>Connectes-toi pour lire les derniers messages et consulter les profils !</h4>
			</div>
		{% endif %}
</div>
{% endblock content %}