{% extends "layout.twig" %}
{% block content %}
<div class="container">
    <div class="row">
        <h1>{{ application.name }}</h1>
        {% if user == true %}
        <h2>Bonjour {{ user_name.getLogin() }}</h2>
        {% endif %}
    </div>
        <div class="col-md-4">
            <h2>{{ auteur2 }}</h2>
            <h3>{{ application.version }}</h3>
            <p> Ceci est généré par une boucle </p>
            <ul>
               <!-- //Commence à 0 -->
                {% for el in tab2 %}
                <li>Indice {{ loop.index0 }} : {{ el }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <h2>{{ auteur }}</h2>
            <h3>{{ application.version }}</h3>
            <p> Ceci est généré par une boucle </p>
            <ul>
                <!-- //Commence à 0 -->
                {% for el in tab %}
                    <li>Indice {{ loop.index0 }} : {{ el }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}