{% extends "layout.twig" %}
{% block content %}
    <div class="container">

        <div class="row">
            <h1>Profile de {{ user_name }}</h1>
        </div>

        <div class="row" id="wall-messages-profile">
            <h4>Les derniers messages que tu as posté</h4>
            <table class="table">
                <tr>
                    <th>message</th>
                    <th>Posted on</th>
                </tr>
                {% for message in messages %}
                    <tr>
                        <td>{{ message.getContent() }}</td>
                        <td>{{ message.getDate() }}</td>
                    </tr>
                {% endfor %}
            </table>
            <form role="form" action="profile" method="post">
                <div class="form-group">
                    <label for="message">Ecrire un message sur le mur :</label>
                    <textarea class="form-control" name="message" id="message" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <input type="reset" class="btn btn-default" name="reset" id="reset" value="Reset" />
                    <input type="submit" class="btn btn-default" name="send" id="send" value="Send" />
                </div>
            </form>
            <p id="carac_count"></p>
            {% if error_type is defined and error_type == true %}
                <p class="alert alert-danger">Votre message est <strong>vide</strong> ou dépasse les <strong>140 caractères autorisés</strong> !</p>
            {% endif %}
        </div>
        <div class="row" id="general-description-profile">
            <form role="form" action="profile" method="post">
                <div class="form-group">
                    <label for="description">Présentes-toi en quelques mots ! (ou pas)</label>
                    <textarea class="form-control" name="description" id="description" rows="3">{{ user_generic.getDescription() }}</textarea>
                    <label for="city">Ta ville ?</label>
                    <input class="form-control" type="text" name="city" id="city" value={{ user_generic.getCity() }} />
                </div>
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="collocation" id="no-coloc" value="no" checked />
                            Je ne cherche pas de collocation
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="collocation" id="lf-coloc" value="yes" />
                            Je suis à la recherche d'une collocation
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="collocation" id="lf-more" value="more" />
                            J'ai déjà une collocation, on cherche une ou plusieurs personnes
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="display-mail" id="display-mail" />
                            Adresse email visible par les autres utilisateurs
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="company">Ton entreprise</label>
                    <input type="text" class="form-control" name="company" id="company" value={{ user_generic.getCompany() }} />
                </div>
                <div class="form-group">
                    <input type="reset" class="btn btn-default" name="reset" id="reset" value="Reset" />
                    <input type="submit" class="btn btn-default" name="send" id="send" value="Send" />
                </div>
            </form>
        </div>
        <div class="row" id="hobbies-profile">
            <form role="form" action="profile" method="post">
                <div class="form-group" id="hobbies-fields">
                    <label>
                        Sinon, tes hobbies ?
                        <input type="text" class="form-control" name="hobby[]" />
                        <input type="text" class="form-control" name="hobby[]" />
                        <input type="text" class="form-control" name="hobby[]" />
                    </label>
                    <span class="glyphicon glyphicon-plus" id="add-hobby" title="Ajouter un champ"></span>
                </div>
                <div class="form-group">
                    <input type="reset" class="btn btn-default" name="reset" id="reset" value="Reset" />
                    <input type="submit" class="btn btn-default" name="send" id="send" value="Send" />
                </div>
            </form>
            {% if error_hobbies is defined and error_hobbies == true %}
                <p class="alert alert-danger">Seuls les caractères <strong>alphanumériques</strong>, les <strong>espaces</strong>, les <strong>tirets</strong> et les <strong>points</strong> sont autorisés</p>
            {% endif %}
        </div>
    </div>
	<script type="text/javascript">
		var form = document.getElementById('message'),			
			count_field = document.getElementById('carac_count');
		
		form.onkeyup = function() {
			var form_length = form.value.length;
			count_field.innerHTML = form_length+' caractères';
			if(form_length > 140) {
				count_field.style.color = "red";
			} else {
				count_field.style.color = "black";
			}
		};

        var add_hobby = document.getElementById("add-hobby"),
            hobbies_fields = document.getElementById("hobbies-fields").firstElementChild;

        add_hobby.onclick = function() {
            var new_field = document.createElement('input');
            new_field.type = "text";
            new_field.className = "form-control";
            new_field.name= "hobby[]";
            hobbies_fields.appendChild(new_field);
        };
	</script>
{% endblock content %}